@import "../../theme/typography";
@import "../../theme/colors";

.home-layout {
  .title {
    font-size: 42px;
    text-align: center;
    font-weight: 500;
    font-family: $georgia;
    margin-bottom: 40px;
  }
  img {
    border-radius: 220px;
    padding: 20px;
    border: 2px solid $line;
  }
  .col {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
